

.register-main-div
{
        display: flex;
        justify-content: space-evenly;
        
}

.side-login-content
{
                
}
.inner-box-of-side-login-content
{
        text-align: center;
        padding: 20px;
        margin-top: 120%;
        /* padding-top: 140%; */
        border-width: 1px; 
        border-style: solid; 
        border-color: black;
        
}

.inner-box-of-side-login-content>div 
{      
      padding-top: 20px;
}
input[type =text],input[type=password],input[type=submit]
{
        
        padding: 10px;
        
}

.side-image-content
{
        background-color:aqua
}


