

.register-main-div
{
        display: flex;
        justify-content: space-evenly;
        
} 

.inner-box-of-side-login-content
{
        text-align: center;
        padding: 20px;
        margin-top: 120%;
        /* padding-top: 140%; */
        border-width: 1px; 
        border-style: solid; 
        border-color: black;
        border-radius: 10px;
        
}



.inner-box-of-side-login-content>div 
{      
      padding-top: 20px;
}
input[type =text],input[type=password],input[type=submit],input[type=number]
{
        
        padding: 10px;
        
}

.side-image-content
{
        background-color:aqua
}


.error-message{
        color: red;
}


.main-div-register
{
        display: flex;
       
}


.main-div-register>div>input

{
        padding: 20px;
}
