

.register-main-div
{
        display: flex;
        justify-content: space-evenly;
        
} 

.inner-box-of-side-login-content
{
        text-align: center;
        padding: 20px;
        margin-top: 120%;
        /* padding-top: 140%; */
        border-width: 1px; 
        border-style: solid; 
        border-color: black;
        border-radius: 10px;
        
}



.inner-box-of-side-login-content>div 
{      
      padding-top: 20px;
}
input[type =text],input[type=password],input[type=submit],input[type=number]
{
        
        padding: 10px;
        
}

.side-image-content
{
        background-color:aqua
}


.error-message{
        color: red;
}


.main-div-register {
        background-color:grey
        ;
        display: flex;
        justify-content: center;  /* Center horizontally */
        align-items: center;      /* Center vertically */
        height: 100vh;            /* Full viewport height */
    }
    
    .username-div {
        display: flex;
        flex-direction: column;   /* Stack inputs vertically */
        gap: 10px;                /* Space between inputs */
        border-style: ridge;
        background-color: rgb(170, 156, 184);
        padding: 4%;
        border-radius: 25px;
    }
    
    .username-div > div {
        margin-bottom: 10px;      /* Adjusted margin to fit better */
        padding: 10px;            /* Padding around input containers */
    }